{% extends 'base.html' %} {% block content %} {% block title %}
<title>Signup Page</title>
{% endblock %}
<form method="post" class="shadow p-3 mb-5 bg-white rounded">
  {% if messages %} {% for message in messages %} {% if message.tags %}
  <script>
    alert("{{ message }}");
  </script>
  {% endif %} {% endfor %} {% endif %} {% csrf_token %}
  <h2>Sign up form</h2>
  <div class="form-group row">
    <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input
        required
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Username"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input
        required
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Email"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input
        required
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password"
      />
    </div>
  </div>
  <button class="btn btn-success" style="margin-bottom: 1rem">Signup</button>
  <p>Already signup, <a href="/login/">click here</a> for login</p>
</form>
{% endblock %}
